@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap') format('woff2');
}
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap') format('woff2');
}
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 500;
    src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap" rel="stylesheet') format('woff2');
}
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&display=swap') format('woff2');
}
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&display=swap') format('woff2');
}
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,800&display=swap') format('woff2');
}

html,body{
    margin:0;
    padding:0;
    background-color: #0B0C0D;
    font-family: 'Nunito Sans', sans-serif;

background-image: url(../images/bg.png);
background-position: top center;
background-size: cover;
background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
}
.logo{
    width:108px;
    height: auto;
}
.hero{
    font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: 82px;
letter-spacing: -0.72px;
max-width: 780px;
width: 100%;
text-align: center;
margin: 60px auto 0;
}
.hero span{
    white-space: nowrap;
}
.lead{
    color: #FFF;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px;
max-width: 780px;
width: 100%;
margin: 24px auto;
}
.hero .ln1{
    background: linear-gradient(90deg, #FFF 68.96%, #EBD1BA 104.07%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.hero .ln2{
    background: linear-gradient(90deg, #EBD1BA 43.25%, #E2B38B 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.hero .ln3{
    background: linear-gradient(90deg, #FFF 0%, #EBD1BA 45.08%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.hero .ln4{
    background: linear-gradient(90deg, #EBD1BA 0%, #EBD1BA 30.85%, #FFB375 82.39%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.heroActions{
    margin: 60px auto 200px;
    width: 500px;
    max-width: 100%;
    text-align: center;
}
.heroActions a.store{
    width: 200px;
    height: auto;
    font-weight: 500;
    margin: 0 12px;
    display: inline-block;
}
.heroActions a.store img{
    width:100%;
}

.btnOutline{
    background-color: transparent;
    border:1px solid #C6C5C5;
    color:#C6C5C5!important;
    padding: 12px 24px;
    border-radius: 12px;
    display:inline-block;
    float:left;
}
.shareBox{
    padding: 24px 0 48px;
    border-bottom: 1px solid #1D2829;
    display: inline-block;
    width: 100%;
}
.shareBox .description{
    color:#fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin: 24px 0;
    text-align: center;
}
.shareBox a.item{
    height: 36px;
    display: inline-block;
    margin: 0 12px;
}
.shareBox a.item img{
    height: 100%;
}
.report{
    padding: 48px 0px;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
}
.report .info{
    background-color: rgba(0,0,0,0.5);
    border:1px solid #1D2829;   
    padding:24px 48px;
    color:#C6C5C5;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 60px;
    text-align: center;
    border-radius: 24px;
}
.report .item{
    padding: 0px 0px 24px 0px;
    border-bottom: 1px solid #1D2829;
    margin-bottom: 48px;
}
.report .item .header{
    
}
.report .item .header .planet{
    font-size: 28px;
    color:#C6C5C5;
    font-weight: 500;
}
.report .item .header .house{
    font-size: 18px;
    color:#6A6B6B;
    font-weight: 500;
}
.report .item .header .sign{
    font-size: 20px;
    color:#E2B38B;
    font-weight: 500;
}
.report .item .header .signImg{
    float: right;
}
.report .item .header .signImg img{
    
}
.report .item .body{
    font-size: 16px;
    color:#C6C5C5;
    font-weight: 400;
    margin-top: 12px;
}
.needmore{
    max-width: 648px;
}



.container {
    max-width: 660px;
    padding: 0 24px;
  }

  footer{
    padding: 100px 0;
    border-top: 1px solid #1D2829;
    margin: 0 auto;
    text-align: center;
  }
ul.footerMenu{
    margin: 48px auto;
}
ul.footerMenu li{
  display:inline-block;
}
ul.footerMenu li a{
    padding: 0 12px;
    font-size: 20px;
    font-weight: 600;
}
  /*
   * Custom translucent site header
   */
  
  .site-header {
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
    margin: 48px auto;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  footer .heroActions{
    margin: 36px auto 60px;
    display: inline-block;
    width: auto;
}
footer .social{
    margin-bottom: 48px;
}
footer .social .item{
    height: 36px;
    display: inline-block;
    margin: 0 12px;

}
footer .social .item img{
    height: 100%;
}

  
  .flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      -webkit-box-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }
  
  @media (max-width: 991px) {
    .site-header a{
        margin-left: 0px;
    }
  .logo{
    width:96px;
    float: left;
    margin-left: -6px;
}
.hero{
    text-align: left;
    font-size: 48px;
    line-height: 60px;
    padding: 0;
    margin: 0;
}
.shareBox .description{
    text-align: left;
}
.shareBox a.item{
    float: left;
}
.lead{
    text-align: left;  
    font-size: 16px;
    line-height: 24px;
}
.heroActions{
    margin-left: 0px; 
}
.heroActions a.store{
    float: left;
    margin-left: 0px;
    width: 150px;
}

ul.footerMenu li a{
    font-size: 15px;
    padding: 0 8px;
}
ul.footerMenu {
    margin: 48px auto 0;
}

}
@media (max-width: 767px) {
  
}
@media (max-width: 360px) {

}